 body{
    
    display: block;
    background: rgb(255, 4, 4);
  margin: 0%;
 
 
 }
header{
    border-radius: 2px; ;
padding: 10px;
    background: white;
    font-size: 20px;
  
}
 nav ul{
  display: flex;
  justify-content: space-between;

  text-decoration: none;
  list-style: none;
 }
 ul .home {
    color:blue;
 }
 .logo-H
 {
 
  width: 20px;
 }
 section
 {
    padding-top:300px ;
    padding-left:50px;
    background-image:url(Image.png) ;
 }
 footer
{
    display: flex;
   
 background: #1E1E1E;
 margin-top: 0%;
 justify-content: space-around;
 color:white;
}
.footer-P2 ul{
 display: flex;
  justify-content: space-around;
  
/* text-align: right;  */
 text-decoration: none;
  list-style: none;
  padding: 6px;
}
.footer-P2 
{
    text-align:center;
}
.footer-P1
{
    margin-top: 5%;
    
} 

.btn{
    text-decoration: none;
}
.bttn
{
    background:black;
    color:white;
    border: #0cac97 solid 2px;
    border-radius: 3px;
    font-size: 20px;
    margin-left: 20px;
}

.list-centre
{ display: flex;
    justify-content: space-between;

  text-decoration: none;
  list-style: none;
    
    width: 500px;
}
.list-centre li{
     justify-content: space-between;
}
